@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  background-color: rgb(var(--background-color));
  font-family: "Quicksand", sans-serif;
}
