:root {
  --primary-color: 24, 0, 173;
  --background-color: 218, 209, 252;
  --primary-support-color: 166, 141, 255;
  --primary-table-color: 89, 64, 239;
  --primary-header-text-color: 238, 236, 236;
  --primary-logo-color: 10, 0, 79;
  --primary-text-color: 15, 1, 168;
  --secondary-text-color: 27, 23, 42;
}
