/* Quadrado fixo */
.side-square {
  position: fixed;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(var(--primary-color));
  cursor: pointer;
  z-index: 1100;
  transform: translateY(-50%);
  border-radius: 4px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: rgb(var(--primary-support-color));
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: rgb(var(--secondary-text-color));
  text-decoration: none;
  padding: 10px 0;
}

.sidebar a:hover {
  background-color: #34495e;
}

.close-btn {
  background: none;
  border: none;
  color: rgb(var(--primary-header-text-color));
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.content {
  flex: 1;
  padding: 20px;
}
