.section-header {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.section-title {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 4rem;
  background: linear-gradient(to right, black, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitles {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 4px solid black;
  padding-left: 1rem;
}

.section-subtitle {
  font-size: 2rem;
}
